<form [formGroup]="auctionForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Description" formControlName="description">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="startPrice" formControlName="startPrice">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="finishIntervalTicks" formControlName="finishIntervalTicks">
  </mat-form-field>

  <!-- <mat-form-field>
    <input matInput type="file" formControlName="imageUrls" (change)="onFileChange($event)" multiple>
  </mat-form-field> -->

  <!-- You can add more form fields for imageUrls, startPrice, and finishIntervalTicks here -->

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
