<mat-dialog-content>
  <h2>Увійти</h2>
  <mat-form-field appearance="fill">
    <input [formControl]="$any(loginForm.controls['email'])" matInput placeholder="Електронна пошта" [(ngModel)]="email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input [formControl]="$any(loginForm.controls['password'])" matInput type="password" placeholder="Пароль" [(ngModel)]="password">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onRegister()">Зареєструватися</button>
  <button mat-button (click)="onCancel()">Відмінити</button>
  <button mat-raised-button color="primary" (click)="onLogin()">Увійти</button>
</mat-dialog-actions>

