:host {
  display: block;
}

.auction-page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.auction-info {
  width: 60%;
}

.bid-list {
  width: 35%;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.bid-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
